config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi'
	option band '2g'
	option country 'US'
	option cell_density '0'
	option htmode 'HE20'
	option channel '1'
	option txpower '20'
	option log_level '1'

config wifi-device 'radio1'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi+1'
	option band '5g'
	option country 'US'
	option cell_density '0'
	option htmode 'HE80'
	option channel '36'
	option txpower '20'
	option log_level '1'

config wifi-iface 'wifinet1'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ssid 'Zippy_Zappy'
	option encryption 'psk2+aes'
	option dtim_period '3'
	option reassociation_deadline '20000'
	option ieee80211k '1'
	option time_advertisement '2'
	option bss_transition '1'
	option time_zone 'EST5EDT,M3.2.0,M11.1.0'

config wifi-iface 'wifinet2'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option ssid 'Zippy_Zappy'
	option encryption 'psk2+aes'
	option dtim_period '3'
	option reassociation_deadline '20000'
	option ieee80211k '1'
	option time_advertisement '2'
	option bss_transition '1'
	option time_zone 'EST5EDT,M3.2.0,M11.1.0'
